@charset "UTF-8";


.myinfo-div{
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	
}


.myinfo-form{
	
	margin-top:40px;
	width: 700px;
	height: 650px;
	background-color: #ffffff;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	
}
