@charset "UTF-8";



@import
	url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

@import
	url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@600&family=Sunflower:wght@300&display=swap');



/* https://noonnu.cc/font_page/502
 */
 @font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


